* {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    top: 0px;
    background: none;
}
header h1{
    background: none;
}

.color {
    color: #00e5ff;
    text-shadow: 0px 0px 10px #00e5ff;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

nav a {
    text-decoration: none;
    color: white;
}

nav,
ul,
li,
a,
span {
    background: none;
}

#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 100px;
}

.content {
    max-width: 700px;
    margin-top: -90px;
}

.content h2 {
    font-size: 40px;
    padding-top: 15px;
}

.content h1 {
    font-size: 90px;
    text-decoration: underline;
    color: whitesmoke;
    padding-top: 15px;
}

.content h3 {
    font-size: 40px;
    padding-top: 15px;
}

.typing {
    color: #00ffff;
    font-weight: bold;
    font-size: 50px;
    text-shadow: 0px 0px 3px #00ffff;
    display: inline-block;
    animation: bounce 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5);
    animation-iteration-count: infinite;

}

@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0px, 20px, 0px);
    }
}

.image-container img {
    width: 480px;
    height: 700px;
    margin-right: 110px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .home {
        flex-direction: column;
        padding: 20px;
    }

    .content {
        max-width: 100%;
    }

    .image-container {
        margin-top: 20px;
    }
}

/* home content end  */

/* about content start */

#about {
    text-align: center;
    margin-top: 70px;

}

.about-content h1 {
    font-size: 40px;
    text-shadow: 0px 0px 10px white;
}

.about-content h1 span {
    color: cyan;
    text-shadow: 0px 0px 10px cyan;
}

.container-fluid {
    font-family: 'Acme';
    max-width: 1000px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.card {
    position: relative;
    margin: 20px 0;
    width: 450px;
    height: 535px;
    background: #000000;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 100px 0 50px rgba(0, 0, 0, 0.5);
}

.card:hover {
    z-index: 1111;
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 10px 0 40px rgba(255, 255, 255, 0.5);
}

.card .img-container {
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.card .img-container img {
    position: absolute;
    left: 0;
    top: 0;
    height: 535px;
    width: 450px;
    object-fit: cover;
}

.card:hover .img-container {
    transform: rotateY(-135deg);
}

.card .card-details {
    box-sizing: border-box;
    padding: 20px;
    color: #000000;
    margin-top: -500px;
    background: none;

}

.card .card-details h2 {
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 32px;
    color: #00ffff;
    text-shadow: 0px 0px 10px #00ffff;
    display: flex;
    justify-content: center;
    background: none;
}

.card .card-details ul {
    padding: 10px;
    line-height: 25px;
    font-size: 17px;
    list-style-type: circle;

}

.card .card-details ul li {
    padding-top: 5px;
}



/* ending of about me section */

/* starting of skills section */


#skills-head {
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 80px 20px 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.container h1 {
    font-size: 48px;
    text-shadow: 0px 0px 10px white;


}

.container h1 span {
    color: #00e5ff;
    text-shadow: 0px 0px 10px #00e5ff;
}

.skills-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.skills-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.technical,
.professional {
    width: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.technical h2,
.professional h2 {
    font-size: 32px;
    text-decoration: underline;
}

.skill {
    margin: 20px 0;
    width: 100%;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.bar {
    width: 100%;
    height: 12px;
    background-color: #222;
    border-radius: 5px;
    position: relative;
    margin-top: 5px;
}

.bar-fill {
    height: 100%;
    background-color: #00e5ff;
    border-radius: 5px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 8px solid #222;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    font-weight: bold;
    color: white;
    position: relative;
    margin: 15px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;

}

.circle::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 8px solid #00e5ff;
    clip-path: inset(0 10% 0 0);
}

.circles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;

}

@media (max-width: 768px) {

    .technical,
    .professional {
        width: 100%;
    }
}

/* skills section ending */

/* resume section starting */


#education-head {
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    background: none;
}

.education h1 {
    text-shadow: 0px 0px 10px white;
}

.education span {
    color: #00e5ff;
    text-shadow: 0px 0px 10px #00e5ff;
}

.timeline-box h2 {
    padding: 10px;
    padding-left: 120px;
    text-decoration: underline;

}

.timeline-box ul li {
    padding: 10px;
    font-weight: bold;

}

.timeline-box ul {
    background-color: black;
}


.container {
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

.education h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
}

.timeline-box h3 {
    padding: 5px;
}

.timeline-box p {
    padding: 10px;
    word-spacing: 6px;
    font-weight: bold;
}


.timeline::after {
    content: '';
    position: absolute;
    width: 4px;
    background-color: cyan;
    top: 0;
    bottom: 0;
    left: 55%;
    margin-left: -2px;
    box-shadow: 0 0 10px cyan;
}

.timeline-box {
    position: relative;
    width: 45%;
    background: #222;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 0;
    text-align: left;
    border: 2px solid cyan;
    box-shadow: 0 0 15px cyan;
    transition: 0.3s ease-in-out;
}

.timeline-box:hover {
    box-shadow: 0 0 25px cyan;
}

.timeline-box::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: cyan;
    border-radius: 50%;
    top: 20px;
    right: -6px;
    box-shadow: 0 0 10px cyan;
}

.left {
    left: 5%;

}

.right {
    left: 56%;
}

.right::before {
    left: -12px;
}

@media screen and (max-width: 768px) {
    .timeline::after {
        left: 20px;
    }

    .timeline-box {
        width: 90%;
        left: 10%;
        text-align: left;
    }

    .timeline-box::before {
        left: -20px;
    }
}

/* skills section ending */

/* portfolio section starting */

.img img {
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 60px;
    transition: transform 0.1s ease-in-out;
    display: block;
    margin: 0 auto;
}

#project h1 {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
    font-size: 60px;
    text-shadow: 0px 0px 10px white;
}

#project span {
    color: #00e5ff;
    text-shadow: 0px 0px 10px #00e5ff;
}

.img img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.img {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img h2 {
    padding: 20px;
}

.img p {
    font-size: 22px;
    color: #555;
    line-height: 1.6;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    box-shadow: 0px 0px 10px wheat;
    border-radius: 23px;
    font-family: 'poppins';
    font-style: italic;
    text-transform: capitalize;
}



/* ending of project section  */

/* starting of contact section  */

#head-contact h1 {
    text-align: center;
    margin-top: 140px;
    padding-top: 70px;
    font-size: 60px;
    text-shadow: 0px 0px 10px white;
    margin-bottom: 40px;
    margin-left: 60px;

}

#head-contact span {
    color: #00e5ff;
    text-shadow: 0px 0px 10px #00e5ff;
}

.sub-contact h1 {
    margin-left: 75px;
    font-style: italic;
    text-align: center;
}

.sub-contact h4 {
    margin-left: 100px;
    padding-top: 40px;
    text-align: center;
}

.contact-1 {
    text-align: center;
    padding: 50px;
}

.message {
    width: 400px;
    height: 50px;
}

.message-1 {
    margin-left: 220px;
}

.button {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 150px;
    height: 50px;
    background: none;
    border: 4px solid cyan;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms;
}

.button span {
    position: absolute;
    color: #ffffff;
    fill: transparent;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

button:focus {
    outline: none;
    border: 2px solid #1e2a78;
    width: 50px;
    border-left: 4px solid #1e2a78;
    border-bottom: 4px solid #1e2a78;
    animation: spin 2s 500ms forwards;
}

button:focus span {
    color: transparent;
}

@keyframes spin {
    80% {
        border: 4px solid transparent;
        border-left: 4px solid #303a52;
    }

    100% {
        transform: rotate(1080deg);
        border: 4px solid #303a52;
    }
}

@keyframes check {
    to {
        fill: #17b978;
    }
}

@keyframes circle {
    to {
        border: 4px solid #303a52;
        color: blue;
    }
}


/* ending of contact section  */